h1{
    text-align : center;
    color : crimson ;
}
marquee{
    color: rgb(0, 0, 255);
}
body{
    background-color: burlywood;
}
@media(min-width:100px){
.container-1{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
}
.container-2{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    order: 2;
}
}
.container-1 div{
    border: 1px;
    padding: 10px;
}
.box1{
    flex: 1;
    order: 1;
    justify-content: flex-end;
    position: relative;
    left: 3%;
}
.box2{
    flex: 1;
    order: 2;
    position: relative;
    right: 3%;
}
.box3{
    flex: 1;
    order: 3;
    justify-content: space-around;
    font-size: 200%;
}

